

<ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">

  <div NguCarouselPrev class="btn-carousel leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">
    <div>
      &lt;
    </div>
  </div>

  <ngu-item *nguCarouselDef="let item; let i = index">

    <app-item-number [item]="item"></app-item-number>


  </ngu-item>
  <div NguCarouselNext class="btn-carousel rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">
    <div>
      &gt;
    </div>
  </div>

  <ul class="myPoint" NguCarouselPoint>
    <li *ngFor="let i of myCarousel.pointNumbers; let i = index" [class.active]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)"></li>
  </ul>
</ngu-carousel>


<button (click)="changeToItem1()">ListItems1</button>
<button (click)="changeToItem2()">ListItems2</button>
